<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bit.groupware.persistent.mapper.ArticleFileMapper">
<!-- 			
	<insert id="insertArticleFile" parameterType="map" statementType="PREPARED">		
		<foreach item="articleFile" collection="articleFiles" open="insert all" close="select * from dual">
		 	into articleFile ( system_file_name, original_file_name, file_size, article_no )
   			values    ( #{articleFile.systemFileName}, #{articleFile.originalFileName}, 
   			         #{articleFile.fileSize}, #{articleFile.articleNo} )
		</foreach>	 	
	</insert>
	  -->
</mapper>