<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bit.groupware.persistent.mapper.DeputyMapper">
	
	<insert id="insertDeputy" parameterType="DeputyVO" statementType="PREPARED">			
		<selectKey keyProperty="depNo" resultType="String" statementType="STATEMENT" order="BEFORE">
			select 'D'||lpad(deputy_no_seq.nextval,5,0) from dual		
		</selectKey>				
		insert into Deputy (dep_no, to_char(start_date,'YYYY/MM/DD'),to_char(end_date,'YYYY/MM/DD'), 
									dep_reason,	demp_no, emp_no)
		values (#{depNo}, #{startDate}, #{endDate}, 
						#{depReason},#{dempNo},#{empNo})	
	</insert>
	
	<resultMap  id="selectDeputyResultMap" type="DeputyVO">
		<id column="dep_no"				 property="depNo" />
		<result column="start_date" 	 property="startDate" />
		<result column="end_date" 	  	 property="endDate" />
		<result column="progression"	 property="progression"/>
		<result column="dep_reason" 	 property="depReason" />
		<result column="demp_no" 	 	 property="dempNo" />
		<result column="emp_no"	 	  	 property="empNo" />
		
		<collection property="employees" javaType="list" ofType="EmployeeVO">
			<id column="emp_no"				 property="empNo" />
			<result column="emp_name" 		 property="empName" />
			<result column="emp_pwd" 	  	 property="empPwd" />
			<result column="eng_name"		 property="engName"/>
			<result column="phone_number" 	 property="phoneNumber" />
			<result column="email" 		 	 property="email" />
			<result column="reg_number"   	 property="regNumber" />
			<result column="hire_date" 	 	 property="hireDate" />
			<result column="retire_status" 	 property="retireStatus" />
			<result column="retire_date" 	 property="retireDate" />
			<result column="address" 		 property="address" />
			<result column="checkAdmin"		 property="checkAdmin"/>
		</collection>
	</resultMap>
	
	<select id="selectDeputyList" parameterType="map" statementType="PREPARED" 
												resultMap="selectDeputyResultMap">
		select 
		    dep_no,
            (select emp_name
             from employee
             where emp_no = demp_no) as emp_name,
		    start_date,
		    end_date,
		    progression,
		    dep_Reason,
		    demp_No,
		    d.emp_No
		from employee e, deputy d
		where e.emp_no = d.emp_no
		    and e.emp_no = #{empNo}	
	</select>


	<select id="selectDeputyRegisterEmployeeList" parameterType="map" resultType="EmployeeVO" statementType="PREPARED">
		select department, duty, empName ,empNo
	    from (select rownum as rn, emp.*
			      from (select *
	                    from emplist_view
	                    where department = #{keyfield}
		   					and empName like '%' || #{keyword} || '%'
	                      order by empNo asc
	                    ) emp) e
	    where e.rn <![CDATA[>=]]> #{startRow} and e.rn <![CDATA[<=]]> #{endRow} 
	</select>
	
	<select id="selectDeputyRegisterCount" statementType="PREPARED" parameterType="map" resultType="int">
		select count(*)
	    from (select rownum as rn, emp.*
			      from (select *
	                    from emplist_view
	                    where department = #{keyfield}
		   					and empName like '%' || #{keyword} || '%'
	                      order by empNo asc
	                    ) emp) e
	</select>
	
</mapper>

