<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bit.groupware.persistent.mapper.DeputyMapper">
	
	<insert id="insertDeputy" parameterType="DeputyVO" statementType="PREPARED">			
		<selectKey keyProperty="depNo" resultType="String" statementType="STATEMENT" order="BEFORE">
			select 'D'||lpad(deputy_no_seq.nextval,5,0) from dual		
		</selectKey>
		insert into Deputy(dep_no, start_date, end_date, dep_reason, demp_no, emp_no)
		values(#{depNo}, to_date(#{startDate},'YYYY/MM/DD HH24:MI'), to_date(#{endDate},'YYYY/MM/DD HH24:MI'), #{depReason}, #{dempNo}, #{empNo})
	</insert>      
	
	<resultMap  id="selectDeputyResultMap" type="DeputyVO">
		<id column="dep_no"				 property="depNo" />
		<result column="start_date" 	 property="startDate" />
		<result column="end_date" 	  	 property="endDate" />
		<result column="progression"	 property="progression"/>
		<result column="dep_reason" 	 property="depReason" />
		<result column="demp_no" 	 	 property="dempNo" />
		<result column="emp_no"	 	  	 property="empNo" />
		<result column="status"	 	  	 property="status" />
		
		<collection property="employees" javaType="list" ofType="EmployeeVO">
			<id column="emp_no"				 property="empNo" />
			<result column="emp_name" 		 property="empName" />
			<result column="emp_pwd" 	  	 property="empPwd" />
			<result column="eng_name"		 property="engName"/>
			<result column="phone_number" 	 property="phoneNumber" />
			<result column="email" 		 	 property="email" />
			<result column="reg_number"   	 property="regNumber" />
			<result column="hire_date" 	 	 property="hireDate" />
			<result column="retire_status" 	 property="retireStatus" />
			<result column="retire_date" 	 property="retireDate" />
			<result column="address" 		 property="address" />
			<result column="checkAdmin"		 property="checkAdmin"/>
			<result column="duty"			 property="duty"/>
		</collection>
	</resultMap>
	
	<select id="selectDeputyList" parameterType="map" statementType="PREPARED" 
												resultMap="selectDeputyResultMap">
		select dep_no, duty, emp_name, to_char(start_date, 'yyyy"년"mm"월"dd"일" HH24"시"') as start_date,
		to_char(end_date, 'yyyy"년"mm"월"dd"일" HH24"시"') as end_date, progression, dep_Reason, demp_no, emp_no ,status
		from (select rownum as rn, emp.*
		      from (select dep_no,
		                   duty,
		                   (select emp_name
		                    from employee
		                    where emp_no = demp_no) as emp_name,
		                     (select case when start_date <![CDATA[>]]> sysdate then '미래'
                                when end_date<![CDATA[<]]>sysdate then '과거'
                                else '현재'
                                end as status from dual) as status,
		                     start_date,
		                     end_date,
                               progression,
                               dep_Reason,  
                               demp_No,
                               d.emp_No
                            from employee e, deputy d ,empList_view ev
		                    where e.emp_no = d.emp_no
		                       and ev.empNo = demp_no                               
								
  
                                and e.emp_no = #{empNo}
                                              order by dep_no asc
                                            ) emp
                                <if test="keyfield == 'dempNo' and keyword != null">
				   				where emp.demp_no like '%' || #{keyword} || '%'
								</if>
								<if test="keyfield == 'duty' and keyword != null">
								where emp.duty like '%' || #{keyword} || '%'
								</if>
								<if test="keyfield == 'empName' and keyword != null">
								where emp.emp_name like '%' || #{keyword} || '%'
								</if>
								<if test="keyfield == 'date' and keyword != null and keyword1 != null">
								  where emp.start_date <![CDATA[>=]]> to_date(#{keyword},'YYYY/MM/DD') 
						          and emp.start_date <![CDATA[<=]]> to_date(#{keyword1},'YYYY/MM/DD')
						          or emp.end_date <![CDATA[>=]]> to_date(#{keyword},'YYYY/MM/DD')
						          and emp.end_date <![CDATA[<=]]> to_date(#{keyword1},'YYYY/MM/DD')
								</if>   
                                            ) empro
		    where empro.rn <![CDATA[>=]]> #{startRow} and empro.rn <![CDATA[<=]]> #{endRow}
	</select>
	
	<select id="selectDeputyListCount" statementType="PREPARED" parameterType="map" resultType="int">
	select count(*)
	    from (select rownum as rn, emp.*
			      from (select dep_no,
                                duty,
                                (select emp_name
                                 from employee
                                 where emp_no = demp_no) as emp_name,
                                 start_date,
                                end_date,
                                progression,
                                dep_Reason,
                                demp_No,
                                d.emp_No
                             from employee e, deputy d ,empList_view ev
		                     where e.emp_no = d.emp_no
		                        and ev.empNo = demp_no                                 
                                and e.emp_no = #{empNo}
                                              order by dep_no asc
                                            ) emp
                                <if test="keyfield == 'dempNo' and keyword != null">
				   				where emp.demp_no like '%' || #{keyword} || '%'
								</if>
								<if test="keyfield == 'duty' and keyword != null">
								where emp.duty like '%' || #{keyword} || '%'
								</if>
								<if test="keyfield == 'empName' and keyword != null">
								where emp.emp_name like '%' || #{keyword} || '%'
								</if>
								<if test="keyfield == 'date' and keyword != null and keyword1 != null">
								  where emp.start_date <![CDATA[>=]]> to_date(#{keyword},'YYYY/MM/DD') 
						          and emp.start_date <![CDATA[<=]]> to_date(#{keyword1},'YYYY/MM/DD')
						          or emp.end_date <![CDATA[>=]]> to_date(#{keyword},'YYYY/MM/DD')
						          and emp.end_date <![CDATA[<=]]> to_date(#{keyword1},'YYYY/MM/DD')
								</if> 
								
                                            ) empro    
	</select>
	
	

	<select id="selectDeputyRegisterEmployeeList" parameterType="map" resultType="EmployeeVO" statementType="PREPARED">
		select department, duty, empName ,empNo
	    from (select rownum as rn, emp.*
			      from (select *
	                    from emplist_view
	                    where department = #{keyfield}
		   					and empName like '%' || #{keyword} || '%'
	                      order by empNo asc
	                    ) emp) e
	    where e.rn <![CDATA[>=]]> #{startRow} and e.rn <![CDATA[<=]]> #{endRow} 
	</select>
	
	<select id="selectDeputyRegisterCount" statementType="PREPARED" parameterType="map" resultType="int">
		select count(*)
	    from (select rownum as rn, emp.*
			      from (select *
	                    from emplist_view
	                    where department = #{keyfield}
		   					and empName like '%' || #{keyword} || '%'
	                      order by empNo asc
	                    ) emp) e
	</select>  
	
	<select id="selectDeputyCheck" statementType="PREPARED" parameterType="map" resultType="int">
		
		    select count(*)
			from(select dep_no
			    from deputy
			    where emp_no='2018-00001'
			    minus
			    select dep_no
			    from deputy
			     where emp_no=#{empNo}
			    and (start_date <![CDATA[>=]]> to_date(#{endDate},'YYYY/MM/DD')
			         or
			         end_date <![CDATA[<=]]> to_date(#{startDate},'YYYY/MM/DD') )
		   and progression = 'T'
		   
			   
	</select>
	
	<delete id="deleteDeputy" parameterType="String" statementType="PREPARED">
		delete deputy
		where dep_no = #{depNo}
	</delete>
	
	<update id="stopUseDeputy" parameterType="map" statementType="PREPARED">
		update deputy
		set progression = 'F'
		<if test="status == '현재' ">
		, end_date = sysdate
		</if>
		where dep_no = #{depNo}	
	</update>
	
</mapper>  

