<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bit.groupware.persistent.mapper.EmployeeMapper">
	
	<insert id="insertEmployee" parameterType="Employee" statementType="PREPARED">			
		<selectKey keyProperty="emp_no" resultType="String" statementType="STATEMENT" order="BEFORE">
			select to_char(sysdate,'yyyy')||'-'||lpad(emp_no_seq.nextval,5,0) from dual;		
		</selectKey>				
		insert into article (emp_no, emp_name, emp_pwd, eng_name, phone_number, 
								email, reg_number, hire_date, address)
		values (#{emp_no}, #{emp_name}, #{emp_pwd}, #{eng_name}, #{phone_number}, 
					#{email}, #{reg_number}, sysdate, #{address})	
	</insert>
	
	<insert id="insertEmployeeCode" parameterType="EmployeeCodeVO" statementType="PREPARED"> 
		insert into employee_code
		values((select c_no
		        from code 
		        where c_name = #{c_name}), #{emp_no})
	</insert>
	
	<!-- <select id="selectEmployeeList" resultType="Employee" statementType="STATEMENT">
		select 
			emp_no, 
			emp_Name,
			emp_pwd,
			phone_number,
			email,
			hire_date,
			(select c.c_name
             from code c, employee_code ec
             where c.c_no = ec.c_no
                and c.relation_code = #{c_no} 
                and ec.emp_no = e.emp_no'),
            (select c.c_name
             from code c, employee_code ec
             where c.c_no = ec.c_no
                and c.relation_code = #{c_no}
                and ec.emp_no = e.emp_no)
		from employee e
		order by emp_no asc	
	</select> -->

	<update id="updateEmployee" parameterType="Employee" statementType="PREPARED">
		update Employee
		<trim prefix="set" prefixOverrides=",">
			<if test="writer != null">
				, emp_no = #{emp_no} 
			</if>
			<if test="subject != null">
				, emp_name = #{emp_name} 
			</if>
			<if test="content != null">
				, emp_pwd = #{emp_pwd}
			</if>
			<if test="pwd != null">
				, phone_number = #{phone_number} 
			</if>
			<if test="writeday != null">
				, writeday = #{writeday}	
			</if>
			<if test="hitcount != 0">
				, hitcount = #{hitcount} 
			</if>
		</trim>	
		where no = #{no}
	</update> 

</mapper>