<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bit.groupware.persistent.mapper.PhotoMapper">
	
	<insert id="insertPhoto" parameterType="map" statementType="PREPARED">
		insert all
		<foreach item="photo" collection="photos">
		   into photo (photo_name, system_file_name, file_size, division, emp_no )
		   values (#{photo.photoName}, #{photo.systemFileName}, 
   			         #{photo.fileSize}, 'P', #{photo.empNo} )
		</foreach>
		select * from dual
	</insert>
	
	<insert id="insertSign" parameterType="map" statementType="PREPARED">
		insert all
		<foreach item="photo" collection="photos">
		into photo (photo_name, system_file_name, file_size, division, emp_no)
		values(#{photo.photoName}, #{photo.systemFileName},
				#{photo.fileSize}, 'S', #{photo.empNo})
		</foreach>
		select * from dual
	</insert>
	
	<select id="checkSign" resultType="String" parameterType="String" statementType="PREPARED">
		select signName
		from emplist_view
		where empNo = #{empNo}
	</select>
	
	<delete id="deletePhoto" parameterType="String" statementType="PREPARED">
		delete from photo
		where emp_no = #{empNo} and division = 'P'
	</delete>
	
	<delete id="deleteSign" parameterType="String" statementType="PREPARED">
		delete from photo
		where emp_no = #{empNo} and division = 'S'
	</delete>

</mapper>

