<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bit.groupware.persistent.mapper.employee.PlanMapper">

	<!-- 일정 목록 조회 -->
	<select id="selectPlanList" parameterType="map" resultType="Plan" >
		select 
			p.p_no,
			p.p_title,
			p.dept_no,
			p.p_class,
			p.p_impt,
			p.rspb_no,
			p.p_content,
			p.start_date,
			p.end_date,
			p.latitude,
			p.longitude,
			e.emp_name
		from plan
		<choose>
			<when test="keyfield == 'p_title'  and keyword != null " >
				where p.p_title like '%' || #{keyword} || '%'
			</when>
			<when test="keyfield == 'emp_name'  and keyword != null ">
				where e.emp_name like '%' || #{keyword} || '%'
			</when>
		</choose>
	</select>
	
	<!-- 일정 등록 -->
	<insert id="insertPlan" parameterType="Plan" statementType="PREPARED">
		<selectKey keyProperty="p_no" resultType="String" statementType="STATEMENT" order="BEFORE">
			select 'p'||lpad(p_no_seq.nextval,5,0) from dual
		</selectKey>
		insert into plan(p_no,p_title,dept_no,p_class,p_impt,rspb_no,p_content,start_date,end_date,latitude,longitude)
		values (#{pNo},#{pTitle},#{pClass},#{pImpt],#{pContetn},#{startDate},#{endDate},#{latitude},#{longitude})
	</insert>
	
	
	<!-- 일정번호에 해당하는 일정 조회 -->
	<resultMap id="selectPlanResultMap" type="Plan" >
		<id column=""
	
	</resultMap>
	
	select p.p_no,p.p_title,p.dept_no,p.p_class,p.p_impt,p.rspb_no,p.p_content,p.start_date,p.end_date,p.latitude,p.longitude,e.emp_name
        from plan p,employee e,code c
        where p.dept_no=c.c_no
            and p.rspb_no=e.emp_no;
		
</mapper>


























