<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bit.groupware.persistent.mapper.employee.PlanFileMapper">
	
	<!-- 일정 파일 등록 -->
	<insert id="insertPlanFile" parameterType="PlanFileVO" statementType="PREPARED">
		insert all
		<foreach item="planFile" collection="planFiles">
			into plan_file(file_name, system_file_name, file_size, p_no )
			values (#{planFile.fileName}, #{planFile.systemFileName}, #{planFile.fileSize}, #{planFile.pNo} )
		</foreach>
		select * from dual
	</insert>
	
	<!-- 일정 파일 삭제 -->
	<delete id="deletePlanFile" parameterType="PlanFileVO" statementType="PREPARED">
		delete from plan_file
		where p_no=#{pNo}
	</delete>
	
	<!-- 일정 파일만 삭제 -->
	<delete id="deletePlanFile2" parameterType="PlanFileVO" statementType="PREPARED">
		delete from plan_file
		where file_no=#{fileNo}
	</delete>
	
</mapper>


























