<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.groupware.persistent.mapper.approval.ApprovalRecordMapper">
	
	<insert id="insertApprovalRecord" parameterType="map" statementType="PREPARED" > 
		insert into approval_record(record_no, appr_no, line_no)
		values(approval_record_seq.nextval, #{apprNo}, 
				(select line_no                                                
				from (select t2.line_no
				      from receiver_line t1, receiver_line t2
				      where t1.receiver_no = t2.receiver_no
				      and t1.line_no = (select line_no
				                        from approval_record
				                        where record_no = #{recordNo})
				 	  and t1.line_order <![CDATA[<]]> t2.line_order
				      order by t2.line_order asc ) 
				where rownum = 1))
 	</insert>
 	
 	<insert id="insertApprovalRecordProceedProcedure" statementType="CALLABLE" parameterType="map">
 		{
 			call approval_record_proceed_proc(#{apprNo},#{recordNo})
 		}
 	</insert>
 	
	<insert id="insertApprovalRecordProcedure" parameterType="map" statementType="CALLABLE" > 
		{
			call approval_record_first_proc (#{apprNo},#{receiverNo})
		}
 	</insert>
	
	
	<resultMap id="RecordResultMap" type="ApprovalRecordVO" >
		<id property="recordNo" column="record_no"/>
		<result property="apprStatus" column="appr_status"/>
		<result property="assignDate" column="assign_date"/>
		<result property="checkDate" column="check_date"/>
		<result property="confirmDate" column="confirm_date"/>
		
		<association property="approval" column="appr_no" javaType="ApprovalVO" >
			<id property="apprNo" column="appr_no"/>		
		</association>
		<association property="receiverLine" column="line_no" javaType="ReceiverLineVO" >
			<id property="lineNo" column="line_no"/>		
			<result property="lineOrder" column="line_order"/>	
			
			<association property="lineEmployee" column="emp_no" javaType="EmployeeVO" >
				<id property="empNo" column="emp_no"/>		
				<result property="empName" column="emp_name"/>
				<result property="duty" column="duty"/>
				<result property="department" column="department"/>
			</association>
				
		</association>
		
	</resultMap>
	<select id="selectApprovlaRecordList" parameterType="int" resultMap="RecordResultMap" statementType="PREPARED">
     	select rec.appr_no, rec.check_date, rec.confirm_date, rec.assign_date,rec.record_no ,
		substr(rec.appr_status,-1,1) as appr_status,
		line.line_order, line.line_no, emp.emp_no, emp.emp_name,
		(select  case when emp.emp_history > 0  
		  then (select case when ( select count(*) 
		                    from code_history 
		                    where start_date<![CDATA[<=]]>to_date(appr.appr_date,'YY/MM/DD') 
		                    and end_date<![CDATA[>=]]>to_date(appr.appr_date,'YY/MM/DD')
		                    and emp_no=line.line_emp_no) <![CDATA[>]]>0 
		             then (select c_name from code
		                   where c_no=(select duty_no 
		                        from code_history 
		                        where start_date<![CDATA[<=]]>to_date(appr.appr_date,'YY/MM/DD') 
		                        and end_date<![CDATA[>=]]>to_date(appr.appr_date,'YY/MM/DD')
		                        and emp_no=line.line_emp_no))
		        else emp.duty
		        end as emp_duty from dual ) 
		  else emp.duty
		  end as emp_duty
		  from dual) as duty ,
		(select  case when emp.emp_history > 0  
		  then (select case when ( select count(*) 
		                    from code_history 
		                    where start_date<![CDATA[<=]]>to_date(appr.appr_date,'YY/MM/DD') 
		                    and end_date<![CDATA[>=]]>to_date(appr.appr_date,'YY/MM/DD')
		                    and emp_no=line.line_emp_no)<![CDATA[>]]>0 
		             then (select c_name from code
		                   where c_no=(select dept_no 
		                                from code_history 
		                                where start_date<![CDATA[<=]]>to_date(appr.appr_date,'YY/MM/DD') 
		                                and end_date<![CDATA[>=]]>to_date(appr.appr_date,'YY/MM/DD')
		                                and emp_no=line.line_emp_no))
		        else 'test1'
		        end as department from dual ) 
		  else emp.department
		  end as department
		  from dual) as department
		from approval_record rec, receiver_line line, emp_view emp,approval appr
		where rec.line_no=line.line_no
		and line.line_emp_no=emp.emp_no
		and appr.appr_no=rec.appr_no
		and appr.appr_no=#{apprNo}
		order by line.line_order asc nulls last
   </select>
   
   
   <update id="updateApprovalRecordStatus" parameterType="ApprovalRecordVO" statementType="PREPARED">
    	update approval_record
		set appr_status= 'C-02-0' || #{apprStatus},
		confirm_date= sysdate
		where record_no= #{recordNo}
   </update>
   
   <delete id="deleteApprovalRecord" parameterType="int" statementType="PREPARED">  
    	delete from approval_record
		where appr_no=#{apprNo}
   </delete>
   
   
   <select id="selectApprovalRecallable" statementType="PREPARED" parameterType="int" resultType="int">
   		select t2.appr_status
   		from approval t1, approval_record t2, receiver_line t3
   		where t1.apprNo = #{apprNo}
   			and t1.apprNo = t2.apprNo 
   			and t2.line_no = t3.line_no
   			and t3.line_order = 1     
   </select>
   
   
   
   	<select id="selectNewRecordCount" statementType="PREPARED" parameterType="String" resultType="int">
		select nvl(count(appr_status),0)
		from approval_record t1, receiver_line t2
		where t1.line_no = t2.line_no
		and t2.LINE_EMP_NO = #{empNo}
		and t1.check_date is null
		and appr_status ='C-02-00'
		union all
		select nvl(count(appr_status),0)
		from approval_record t1, receiver_line t2
		where t1.line_no = t2.line_no
		and t2.LINE_EMP_NO = #{empNo}
		and t1.check_date is null
		and appr_status ='C-02-06'
	</select>
   
    <select id="checkisFinalApprovalLine" statementType="PREPARED" parameterType="int" resultType="int">
   		select case 
	        	when t2.line_order = 9 then 1
	        	when t3.duty_no = t6.duty_no then 1
	        	else 0
       		end
		from approval_record t1, receiver_line t2, emp_view t3, approval t4, template t5, DELEGATION t6
		where t1.LINE_NO = t2.line_no
		and t2.line_emp_no = t3.emp_no
		and t1.appr_no = t4.appr_no
		and t4.tmp_no = t5.tmp_no
		and t5.tmp_no = t6.tmp_no(+)
		and t1.record_no = #{recordNo}
		and rownum = 1 <!-- 테스트용 -->
   </select>
   
   <update id="updateCheckDate" statementType="PREPARED" parameterType="int">
  		update approval_record
  		set check_date = sysdate
  		where record_no = #{recordNo}
   </update>
   
   
   <select id="selectRecNo" parameterType="map" resultType="int" statementType="PREPARED" >
   		select record_no
		from approval_record
		where line_no in (select line_no from receiver_line line where line_emp_no=#{empNo})
		and appr_no=#{apprNo}
   </select> 
   
   
   
</mapper>