<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.groupware.persistent.mapper.approval.ApprovalMapper">

	  <insert id="insertApproval"  parameterType="ApprovalVO" statementType="PREPARED" >
	  	<selectKey keyProperty="apprNo" resultType="int" statementType="STATEMENT" order="BEFORE"> 
	  		select approval_seq.nextval from dual
	  	</selectKey>
	  		insert into approval(appr_no,appr_title,appr_content,emp_no,valid_date,urgency, appr_final_status
	  		<if test="template.tmpNo != 0">
	  			,tmp_no
	  		</if>
	  		)
			values(#{apprNo},#{apprTitle},#{apprContent},#{employee.empNo},#{validDate},#{urgency},
					'C-01-0' || #{apprFinalStatus}
	  		<if test="template.tmpNo != 0">
	  			,#{template.tmpNo}
	  		</if> 
			
			)
	  </insert>

	
		<update id="updateApproval" parameterType="ApprovalVO" statementType="PREPARED">
			update approval
			set appr_final_status= 'C-01-0' || #{apprFinalStatus} ,
				complete_date = sysdate
			where appr_no=#{apprNo}
		</update>


	<delete id="deleteApproval" parameterType="int" statementType="PREPARED">
		delete from approval
		where appr_no in
		<foreach item="apprNo" collection="list" separator="," open="(" close=")" > 
		  #{apprNo}
		</foreach>
	</delete>
	
	
	<resultMap id="selectApprvalResultMap" type="ApprovalVO">
		<id property="apprNo" column="appr_no" />
		<result property="apprDate" column="appr_date" />
		<result property="apprTitle" column="appr_title" />
		<result property="apprContent" column="appr_content" />
		<result property="apprFinalStatus" column="appr_final_status" />
		<result property="urgency" column="urgency" />
		<result property="completeDate" column="complete_date" />
		
		<association property="employee" column="emp_no" javaType="EmployeeVO">
			<id property="empNo" column="emp_no" />
			<result property="empName" column="emp_name" />
			<result property="department" column="department" />
			<result property="duty" column="duty" />
		</association>
		<association property="template" column="tmp_no" javaType="TemplateVO">
			<id property="tmpNo" column="tmp_no" />
			<result property="tmpName" column="tmp_name" />	
		</association>
		<collection property="approvalRecords" javaType="list" column="record_no" ofType="ApprovalRecordVO">
			<id property="recordNo" column="record_no" />
			<result property="checkDate" column="check_date" />	
		</collection>
	</resultMap>
	
	<select id="selectApprovalList" statementType="PREPARED" parameterType="map"  resultMap="selectApprvalResultMap" > 
		select t2.*
		from (select rownum as rn, t1.* 
		      from (select  appr.appr_no, appr.appr_date ,appr.urgency, appr.appr_title ,appr.appr_content, 
		            appr.appr_final_status , emp.emp_no, emp.emp_name, tmp.tmp_no ,tmp.tmp_name, emp.department,emp.duty
		            
		<if test="linempNo != null">
		, rec.record_no, rec.check_date
		</if>
		
		 from approval appr,template tmp, emp_view emp 
		
		<if test="linempNo != null">
		 , approval_record rec, receiver_line line
		</if>
		
		where appr.emp_no = emp.emp_no
		and appr.tmp_no=tmp.tmp_no
		
		<if test="linempNo != null">
		and rec.appr_no=appr.appr_no
		and rec.line_no=line.line_no
		</if>
		
		<if test="empNo != null">
			and emp.emp_no = #{empNo}
		</if>
		<if test="linempNo != null">
			and (line.line_emp_no = #{linempNo} or rec.dep_emp_no = #{linempNo})
		</if>
		
		<if test="apprFinalStatus == 1 || apprFinalStatus == 3">
			and appr.appr_final_status = #{apprFinalStatus}
		</if>
		<if test="apprFinalStatus == 0 || apprFinalStatus == 2 ">
			and appr.appr_final_status in (0,2)
		</if>
		<if test="apprFinalStatus == 4 ">
			and appr.appr_final_status in (4,5)
		</if>
		<if test="apprStatus == 0 and apprStatus!=null">
			and rec.appr_status in (0,2)
		</if>
		<if test="apprStatus == 1 || apprStatus == 6 and apprStatus!=null">
			and rec.appr_status =#{apprStatus}
		</if>
		<if test="keyfield=='apprTitle' and keyword!=null">
			and appr.appr_Title Like '%' || #{keyword} ||'%' 
		</if>
		<if test="keyfield=='apprDate' and keyword!=null and keyword1!=null">
			and appr.appr_date<![CDATA[<=]]>to_date(#{keyword1},'YY/MM/DD')+1 and appr.appr_date<![CDATA[>=]]>to_date(#{keyword},'YY/MM/DD')
		</if>
		
		<if test="keyfield=='empName'and keyword!=null">
			and emp.emp_name Like '%' || #{keyword} ||'%'
		</if>
		<if test="keyfield=='tmpName' and keyword!=null">
			and tmp.tmp_name Like '%' || #{keyword} ||'%'
		</if>
		<if test="keyfield=='department' and keyword!=null">
			and emp.department Like '%' || #{keyword} ||'%'
		</if>
		
		<if test="keyfield=='empDept'and keyword!=null">
			and emp.department Like '%' || #{keyword} ||'%'
		</if> 
		order by appr.appr_date desc
		) t1  )t2 
		where rn<![CDATA[>=]]>#{startRow} and rn<![CDATA[<=]]>#{endRow}
	</select>
	
	
	<select id="selectAllApprovalList" parameterType="map" resultMap="selectApprvalResultMap" statementType="PREPARED">
		select *
		from( 
		select rownum as rn, t2.* from(
		select t1.* from(select appr.appr_no, appr.appr_date ,appr.urgency, appr.appr_title ,
		appr.appr_final_status , emp.emp_no, emp.emp_name, tmp.tmp_no ,tmp.tmp_name, emp.department, emp.duty, appr.complete_date
		from approval appr, template tmp, emp_view emp
		where appr.emp_no = emp.emp_no
		and appr.tmp_no=tmp.tmp_no
		<if test="empNo != 'admin'">
		and emp.emp_no=#{empNo} 
		</if>
		<if test="apprFinalStatus != 5">
		and appr.appr_final_status = #{apprFinalStatus}
		</if>		  
		 <if test="keyfield=='apprTitle' and keyword!=null">
			and appr.appr_Title Like '%' || #{keyword} ||'%' 
		</if>
		<if test="keyfield=='apprDate' and keyword!=null and keyword1!=null">
			and appr.appr_date<![CDATA[<=]]>to_date(#{keyword1},'YY/MM/DD')+1 and appr.appr_date<![CDATA[>=]]>to_date(#{keyword},'YY/MM/DD')
		</if>
		<if test="keyfield=='empName'and keyword!=null">
			and emp.emp_name Like '%' || #{keyword} ||'%'
		</if>
		<if test="keyfield=='tmpName' and keyword!=null">
			and tmp.tmp_name Like '%' || #{keyword} ||'%'
		</if>
		<if test="keyfield=='department' and keyword!=null">
			and emp.department Like '%' || #{keyword} ||'%'
		</if>
		<if test="keyfield=='finDate' and keyword!=null and keyword1!=null">
			and appr.complete_date<![CDATA[<=]]>to_date(#{keyword1},'YY/MM/DD')+1 and appr.complete_date<![CDATA[>=]]>to_date(#{keyword},'YY/MM/DD')
		</if>
		<if test="keyfield=='empDept'and keyword!=null">
			and emp.department Like '%' || #{keyword} ||'%'
		</if> 
		union
		select appr.appr_no, appr.appr_date ,appr.urgency, appr.appr_title ,
		appr.appr_final_status , emp.emp_no, emp.emp_name, tmp.tmp_no ,tmp.tmp_name, emp.department, emp.duty, appr.complete_date 
		from approval appr,	template tmp, emp_view emp,approval_record rec ,receiver_line line
		where appr.emp_no = emp.emp_no
		and appr.tmp_no=tmp.tmp_no
		and rec.appr_no=appr.appr_no
		and rec.line_no=line.line_no
		<if test="empNo != 'admin'">
		and (line.line_emp_no=#{empNo} or rec.dep_emp_no=#{empNo})
		</if> 
		<if test="apprFinalStatus != 5">
		and appr.appr_final_status = #{apprFinalStatus}
		</if>
		 <if test="keyfield=='apprTitle' and keyword!=null">
			and appr.appr_Title Like '%' || #{keyword} ||'%' 
		</if>
		<if test="keyfield=='apprDate' and keyword!=null and keyword1!=null">
			and appr.appr_date<![CDATA[<=]]>to_date(#{keyword1},'YY/MM/DD')+1 and appr.appr_date<![CDATA[>=]]>to_date(#{keyword},'YY/MM/DD')
		</if>
		<if test="keyfield=='empName'and keyword!=null">
			and emp.emp_name Like '%' || #{keyword} ||'%'
		</if>
		<if test="keyfield=='tmpName' and keyword!=null">
			and tmp.tmp_name Like '%' || #{keyword} ||'%'
		</if>
		<if test="keyfield=='department' and keyword!=null">
			and emp.department Like '%' || #{keyword} ||'%'
		</if>
		<if test="keyfield=='finDate' and keyword!=null and keyword1!=null">
			and appr.complete_date<![CDATA[<=]]>to_date(#{keyword1},'YY/MM/DD')+1 and appr.complete_date<![CDATA[>=]]>to_date(#{keyword},'YY/MM/DD')
		</if>
		<if test="keyfield=='empDept'and keyword!=null">
			and emp.department Like '%' || #{keyword} ||'%'
		</if>  
		)t1    order by appr_date desc ) t2 )
		where rn<![CDATA[>=]]>#{startRow} and rn<![CDATA[<=]]>#{endRow}
	</select>
	
	
	<select id="selectApprovalCount" parameterType="map" resultType="int" statementType="PREPARED"> 
	 	select count(*) from(select  appr.appr_no, appr.appr_date ,appr.urgency, appr.appr_title ,appr.appr_content, 
		 appr.appr_final_status , emp.emp_no, emp.emp_name, tmp.tmp_no ,tmp.tmp_name, emp.department,emp.duty
		 
		<if test="linempNo != null">
		,rec.record_no, rec.check_date
		</if>
		
		from approval appr,template tmp, emp_view emp 
		
		<if test="linempNo != null">
		,approval_record rec ,receiver_line line
		</if>
		
		where appr.emp_no = emp.emp_no
		and appr.tmp_no=tmp.tmp_no
		
		<if test="linempNo != null">
		and rec.appr_no=appr.appr_no
		and rec.line_no=line.line_no
		</if>
		
		<if test="empNo != null">
			and emp.emp_no = #{empNo}
		</if>
		<if test="linempNo != null">
			and (line.line_emp_no = #{linempNo} or rec.dep_emp_no = #{linempNo})
		</if>
		
		<if test="apprFinalStatus == 1 || apprFinalStatus == 3">
			and appr.appr_final_status = #{apprFinalStatus}
		</if>
		<if test="apprFinalStatus == 0 || apprFinalStatus == 2 ">
			and appr.appr_final_status in (0,2)
		</if>
		<if test="apprFinalStatus == 4 ">
			and appr.appr_final_status in (4,5)
		</if>
		<if test="apprStatus == 0 and apprStatus!=null">
			and rec.appr_status in (0,2)
		</if>
		<if test="apprStatus == 1 || apprStatus == 6 and apprStatus!=null">
			and rec.appr_status =#{apprStatus}
		</if>
		<if test="keyfield=='apprTitle' and keyword!=null">
			and appr.appr_Title Like '%' || #{keyword} ||'%' 
		</if>
		<if test="keyfield=='apprDate' and keyword!=null and keyword1!=null">
			and appr.appr_date<![CDATA[<=]]>to_date(#{keyword1},'YY/MM/DD')+1 and appr.appr_date<![CDATA[>=]]>to_date(#{keyword},'YY/MM/DD')
		</if>
		
		<if test="keyfield=='empName'and keyword!=null">
			and emp.emp_name Like '%' || #{keyword} ||'%'
		</if>
		<if test="keyfield=='tmpName' and keyword!=null">
			and tmp.tmp_name Like '%' || #{keyword} ||'%'
		</if>
		<if test="keyfield=='department' and keyword!=null">
			and emp.department Like '%' || #{keyword} ||'%'
		</if>
		
		<if test="keyfield=='empDept'and keyword!=null">
			and emp.department Like '%' || #{keyword} ||'%'
		</if> 
		)
	</select>
	
	
	<select id="selectAllApprovalCount" parameterType="map" resultType="int" statementType="PREPARED">
		select count(*)
		from(select appr.appr_no, appr.appr_date ,appr.urgency, appr.appr_title ,
		appr.appr_final_status , emp.emp_no, emp.emp_name, tmp.tmp_no ,tmp.tmp_name, emp.department, emp.duty, appr.complete_date
		from (select rownum as rn, t1.*
		      from (select *
		            from approval order by appr_date asc) t1)appr ,
		template tmp, emp_view emp
		where appr.emp_no = emp.emp_no
		and appr.tmp_no=tmp.tmp_no
		<if test="empNo != 'admin'">
		and emp.emp_no=#{empNo}
		</if>
		<if test="apprFinalStatus != 5">
		and appr.appr_final_status = #{apprFinalStatus}
		</if>  
		 <if test="keyfield=='apprTitle' and keyword!=null">
			and appr.appr_Title Like '%' || #{keyword} ||'%' 
		</if>
		<if test="keyfield=='apprDate' and keyword!=null and keyword1!=null">
			and appr.appr_date<![CDATA[<=]]>to_date(#{keyword1},'YY/MM/DD')+1 and appr.appr_date<![CDATA[>=]]>to_date(#{keyword},'YY/MM/DD')
		</if>
		<if test="keyfield=='empName'and keyword!=null">
			and emp.emp_name Like '%' || #{keyword} ||'%'
		</if>
		<if test="keyfield=='tmpName' and keyword!=null">
			and tmp.tmp_name Like '%' || #{keyword} ||'%'
		</if>
		<if test="keyfield=='department' and keyword!=null">
			and emp.department Like '%' || #{keyword} ||'%'
		</if>
		<if test="keyfield=='finDate' and keyword!=null and keyword1!=null">
			and appr.complete_date<![CDATA[<=]]>to_date(#{keyword1},'YY/MM/DD')+1 and appr.complete_date<![CDATA[>=]]>to_date(#{keyword},'YY/MM/DD')
		</if>
		<if test="keyfield=='empDept'and keyword!=null">
			and emp.department Like '%' || #{keyword} ||'%'
		</if> 
		union
		select appr.appr_no, appr.appr_date ,appr.urgency, appr.appr_title ,
		appr.appr_final_status , emp.emp_no, emp.emp_name, tmp.tmp_no ,tmp.tmp_name, emp.department, emp.duty, appr.complete_date 
		from (select rownum as rn, t1.*
		      from (select *
		            from approval order by appr_date asc) t1)appr ,
		template tmp, emp_view emp,approval_record rec ,receiver_line line
		where appr.emp_no = emp.emp_no
		and appr.tmp_no=tmp.tmp_no
		and rec.appr_no=appr.appr_no
		and rec.line_no=line.line_no
		<if test="empNo != 'admin'">
		and (line.line_emp_no=#{empNo} or rec.dep_emp_no=#{empNo}) 
		</if> 
		<if test="apprFinalStatus != 5">
		and appr.appr_final_status = #{apprFinalStatus}
		</if> 
		 <if test="keyfield=='apprTitle' and keyword!=null">
			and appr.appr_Title Like '%' || #{keyword} ||'%' 
		</if>
		<if test="keyfield=='apprDate' and keyword!=null and keyword1!=null">
			and appr.appr_date<![CDATA[<=]]>to_date(#{keyword1},'YY/MM/DD')+1 and appr.appr_date<![CDATA[>=]]>to_date(#{keyword},'YY/MM/DD')
		</if>
		<if test="keyfield=='empName'and keyword!=null">
			and emp.emp_name Like '%' || #{keyword} ||'%'
		</if>
		<if test="keyfield=='tmpName' and keyword!=null">
			and tmp.tmp_name Like '%' || #{keyword} ||'%'
		</if>
		<if test="keyfield=='department' and keyword!=null">
			and emp.department Like '%' || #{keyword} ||'%'
		</if>
		<if test="keyfield=='finDate' and keyword!=null and keyword1!=null">
			and appr.complete_date<![CDATA[<=]]>to_date(#{keyword1},'YY/MM/DD')+1 and appr.complete_date<![CDATA[>=]]>to_date(#{keyword},'YY/MM/DD')
		</if>
		<if test="keyfield=='empDept'and keyword!=null">
			and emp.department Like '%' || #{keyword} ||'%'
		</if>  

		)
	</select>
	
	
	<resultMap id="selectApprvalDetailResultMap" type="ApprovalVO">
		<id property="apprNo" column="appr_no" />
		<result property="apprDate" column="appr_date" />
		<result property="apprTitle" column="appr_title" />
		<result property="apprContent" column="appr_content" />
		<result property="validDate" column="valid_date" />
		<result property="urgency" column="urgency" />
		
		<association property="employee" column="emp_no" javaType="EmployeeVO">
			<id property="empNo" column="emp_no" />
			<result property="empName" column="emp_name" />
			<result property="department" column="department" />
		</association>
		
		<association property="template" column="tmp_no" javaType="TemplateVO">
			<id property="tmpNo" column="tmp_no" />
			<result property="tmpName" column="tmp_name" />	
		</association>
		<collection property="approvalFiles" javaType="list" ofType="ApprovalFileVO">
				<id column="file_no" property="fileNo" />
				<result column="file_size" property="fileSize"/>
				<result column="system_file_name" property="systemFileName"/>
				<result column="original_file_name" property="originalFileName"/>
		</collection>
		
	</resultMap>
	<select id="selectApproval" parameterType="int" resultMap="selectApprvalDetailResultMap" statementType="PREPARED">  
		select appr.appr_no,emp.emp_no, emp.emp_name, emp.department,
		 appr.appr_date, appr.appr_title, appr.valid_date, appr.urgency, appr.appr_content, 
		files.system_file_name, files.file_no, files.file_size,
		(select tmp_name from template tmp where tmp.tmp_no=appr.tmp_no) as tmp_name,
		(select tmp_no from template tmp where tmp.tmp_no=appr.tmp_no) as tmp_no
		from APPROVAL appr, emp_view emp ,approval_file files
		where appr.emp_no=emp.emp_no
		and appr.appr_no=files.appr_no(+)
		and appr.appr_no=#{apprNo}
		order by appr.appr_no asc nulls last
	</select>
	
	
	
	
	
	<resultMap id="selectTempApprovalResultMap" type="ApprovalVO" >
		
		<id property="apprNo" column="appr_no"/>
		<result property="apprTitle" column="appr_title"/>
		<result property="apprDate" column="appr_date"/>
		<result property="validDate" column="valid_date"/>
		<result property="urgency" column="urgency"/>
		<result property="apprContent" column="appr_content"/>
		
		<association property="template" column="tmp_no" javaType="TemplateVO">
			<id property="tmpNo" column="tmp_no"/>
			<result property="tmpName" column="tmp_name"/>
		</association>	
	</resultMap>
	<select id="selectTempApproval" parameterType="int" resultMap="selectTempApprovalResultMap" statementType="PREPARED"> 
	  	select appr.appr_no, appr.appr_title, appr.valid_date, appr.appr_date, appr.urgency, appr.appr_content,
		tmp.tmp_no, tmp.tmp_name
		from approval appr, template tmp
		where appr.tmp_no=tmp.tmp_no
		and appr_no=#{apprNo}
	</select>
	
	
</mapper>