<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.groupware.persistent.mapper.approval.ApprovalRecordMapper">
	
<!-- 첫번째만 들가도록 쿼리 설계됨 수정필요함 -->
	<insert id="insertApprovalRecord" parameterType="map" statementType="PREPARED" > 
		insert into approval_record(record_no, appr_no, line_no)
		values(approval_record_seq.nextval, #{apprNo}, 
				(select min(line_no) 
				 from receiver_line 
				 where receiver_no = #{receiverNo}))
 	</insert>
 	
	<insert id="insertApprovalRecordProcedure" parameterType="map" statementType="CALLABLE" > 
		{
			call approval_record_procedure (#{apprNo},#{receiverNo})
		}
 	</insert>
	
	
	<resultMap id="RecordResultMap" type="ApprovalRecordVO" >
		<id property="recordNo" column="record_no"/>
		<result property="apprStatus" column="appr_status"/>
		<result property="assignDate" column="assign_date"/>
		<result property="checkDate" column="check_date"/>
		<result property="confirmDate" column="confirm_date"/>
		
		<association property="approval" column="appr_no" javaType="ApprovalVO" >
			<id property="apprNo" column="appr_no"/>		
		</association>
		<association property="receiverLine" column="line_no" javaType="ReceiverLineVO" >
			<id property="lineNo" column="line_no"/>		
			<result property="lineOrder" column="line_order"/>	
			
			<association property="lineEmployee" column="emp_no" javaType="EmployeeVO" >
				<id property="empNo" column="emp_no"/>		
				<result property="empName" column="emp_name"/>
				<result property="duty" column="duty"/>
				<result property="department" column="department"/>
			</association>
				
		</association>
		
	</resultMap>
	<select id="selectApprovlaRecordList" parameterType="int" resultMap="RecordResultMap" statementType="PREPARED">
     	select rec.appr_no, line.line_order, emp.emp_no, emp.emp_name, rec.appr_status, rec.assign_date,
		rec.check_date, rec.confirm_date, rec.record_no , line.line_no, emp.duty , emp.department
		from approval_record rec, receiver_line line, emp_view emp
		where rec.line_no=line.line_no
		and line.line_emp_no=emp.emp_no
		and appr_no=#{apprNo}
		order by line.line_order asc nulls last
   </select>
   
   
   <update id="updateApprovalRecordStatus" parameterType="ApprovalRecordVO" statementType="PREPARED">
    	update approval_record
		set appr_status=#{apprStatus},
		check_Date=#{checkDate},
		confirm_date=#{confirmDate}
		where record_no=#{recordNo}
   </update>
   
   <delete id="deleteApprovalRecord" parameterType="int" statementType="PREPARED">  
    	delete from approval_record
		where appr_no=#{apprNo}
   </delete>
   
   
   <select id="selectApprovalRecallable" parameterType="int" statementType="PREPARED">
   		select t2.appr_status
   		from approval t1, approval_record t2, receiver_line t3
   		where t1.apprNo = #{apprNo}
   			and t1.apprNo = t2.apprNo 
   			and t2.line_no = t3.line_no
   			and t3.line_order = 1     
   </select>
   
   
   
   	<select id="selectNewRecordCount" statementType="PREPARED" parameterType="map" resultType="int">
		select count(t2.record_no)
		from receiver_line t1, approval_record t2
		where t1.line_no = t2.line_no
		and t1. line_emp_no = #{empNo}
		and t2.check_date is null
		<if test="keyfield == 'req' ">
			and t1.appr_type = 0
		</if>
		<if test="keyfield == 'ref' ">
			and t1.appr_type = 1
		</if>
	</select>
   
   
</mapper>