<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.groupware.persistent.mapper.approval.ApprovalFileMapper">
	
	<insert id="insertApprovalFile" parameterType="map" statementType="PREPARED">
		<foreach item="apprFile" collection="approvalFiles" open="insert all" close="select * from dual">
			into approval_file(appr_no,system_file_name,original_file_name,file_size)
			values(#{apprFile.approval.apprNo},#{apprFile.systemFileName},#{apprFile.originalFileName},#{apprFile.fileSize})
		</foreach>
	</insert>
	
	<delete id="deleteApprovalFile" parameterType="int" statementType="PREPARED" >
		delete from approval_File 
		where appr_No=#{apprNo}
	</delete>
</mapper>