<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.groupware.persistent.mapper.approval.ApprovalMapper">

	  <insert id="insertApproval"  parameterType="ApprovalVO" statementType="PREPARED" >
	  	<selectKey keyProperty="apprNo" resultType="int" statementType="STATEMENT" order="BEFORE"> 
	  		select approval_seq.nextval from dual
	  	</selectKey>
	  		insert into approval(appr_no,appr_title,appr_content,emp_no,valid_date,urgency
	  		<if test="template.tmpNo != 0">
	  			,tmp_no
	  		</if>
	  		)
			values(#{apprNo},#{apprTitle},#{apprContent},#{employee.empNo},#{validDate},#{urgency}
	  		<if test="template.tmpNo != 0">
	  			,#{template.tmpNo}
	  		</if>
			
			)
	  </insert>

	
		<update id="updateApproval" parameterType="ApprovalVO" statementType="PREPARED">
			update approval
			set appr_final_status=#{apprFinalStatus}
			where appr_no=#{apprNo}
		</update>

	
	<resultMap id="selectApprvalResultMap" type="ApprovalVO">
		<id property="apprNo" column="appr_no" />
		<result property="apprDate" column="appr_date" />
		<result property="apprTitle" column="appr_title" />
		<result property="apprContent" column="appr_content" />
		<result property="apprFinalStatus" column="appr_final_status" />
		<result property="urgency" column="urgency" />
		
		<association property="employee" column="emp_no" javaType="EmployeeVO">
			<id property="empNo" column="emp_no" />
			<result property="empName" column="emp_name" />
		
			<collection property="codes" javaType="list" ofType="CodeVO">
				<id column="c_no" property="cNo" />
				<result column="c_name" property="cName"/>
			</collection>
			
		</association>
		<association property="template" column="tmp_no" javaType="TemplateVO">
			<id property="tmpNo" column="tmp_no" />
			<result property="tmpName" column="tmp_name" />	
		</association>
	</resultMap>
	
	<select id="selectApprovalList" statementType="PREPARED" parameterType="map"  resultMap="selectApprvalResultMap" > 
		select appr.appr_no, appr.appr_date ,appr.urgency, appr.appr_title ,appr.appr_content,
		appr.appr_final_status , emp.emp_no, emp.emp_name, tmp.tmp_no ,tmp.tmp_name, emp.department, emp.duty
		from (select rownum as rn, t1.*
		      from (select *
		            from approval order by appr_date asc) t1)appr ,template tmp, emp_view emp
		where appr.emp_no = emp.emp_no
		and appr.tmp_no=tmp.tmp_no
		
		<if test="empNo != null">
			and emp.emp_no = #{empNo}
		</if>
		
		<if test="apprFinalStatus == 1 || apprFinalStatus == 3">
			and appr.appr_final_status = #{apprFinalStatus}
		</if>
		<if test="apprFinalStatus == 0 || apprFinalStatus == 2 ">
			and appr.appr_final_status in (0,2)
		</if>
		<if test="apprFinalStatus == 4 ">
			and appr.appr_final_status in (4,5)
		</if>
		
		<if test="keyfield=='apprTitle' and keyword!=null">
			and appr.appr_Title=#{apprTitle}
		</if>
		<if test="keyfield=='empName'and keyword!=null">
			and emp.emp_name=#{empName}
		</if>
		
		<if test="keyfield=='empDept'and keyword!=null">
			and c.c_name=#{empDept}
		</if> 
		and rownum<![CDATA[>=]]>#{startRow} and rownum<![CDATA[<=]]>#{endRow}
	</select>
	
	
	<select id="selectApprovalCount" parameterType="map" resultType="int" statementType="PREPARED"> 
	 	select count(appr.appr_no)
		from approval appr,template tmp,emp_view emp
		where appr.emp_no = emp.emp_no
		and appr.tmp_no=tmp.tmp_no
		
		<if test="empNo != null">
		and emp.emp_no = #{empNo}
		</if>
		
		<if test="apprFinalStatus == 1 || apprFinalStatus == 3">
		and appr.appr_final_status = #{apprFinalStatus}
		</if>
		<if test="apprFinalStatus == 0 || apprFinalStatus == 2 ">
		and appr.appr_final_status in (0,2)
		</if>
		<if test="apprFinalStatus == 4 ">
		and appr.appr_final_status in (4,5)
		</if>
		
		<if test="keyfield=='apprTitle' and keyword!=null">
			and appr.appr_Title=#{apprTitle}
		</if>
		<if test="keyfield=='empName'and keyword!=null">
			and emp.emp_name=#{empName}
		</if>
		
		<if test="keyfield=='empDept'and keyword!=null">
			and c.c_name=#{empDept}
		</if> 
	</select>
	
	
	
</mapper>