<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.groupware.persistent.mapper.employee.NotificationMapper">

	<resultMap id="selectNotificationListMap" type="NotificationVO">
		<id property="noteNo" column="note_no" />
		<result property="noteDate" column="note_date" />
		<result property="redirectPath" column="redirect_path" />
		<result property="message" column="message" />
		<association property="employee" column="emp_no" javaType="EmployeeVO">
			<id property="empNo" column="emp_no" />
			<result property="empName" column="emp_name" />
			<collection property="codes" ofType="codeVO">
				<result property="cName" column="c_name"/>
			</collection>
		</association>
	</resultMap>
	
	<select id="selectNotificationList" parameterType="map" resultMap="selectNotificationListMap" >
		select * 
		from (select * 
		      from (select t1.note_no, t1.note_date, t1.redirect_path, t1.message, t1.emp_no, t2.emp_name, t2.c_name, rownum rn
		            from notification t1, employee_view t2
		            where t1.emp_no = t2.emp_no
		            and t1.emp_no = #{empNo}
		            order by t1.note_date desc)
		      where rn &lt;= #{endRow})
	   where rn &gt;= #{startRow}
	</select>
	
	<delete id="deleteNotification" parameterType="map" >
		delete from notification
		<choose>
			<when test="noteNo != null">
				where note_no = #{noteNo}
			</when>
			<otherwise>
				where emp_no = #{empNo}
			</otherwise>
		</choose>
	</delete>
	
	<select id="selectNotificationCount" statementType="PREPARED" parameterType="String" resultType="int">
		select count(note_no)
		from notification
		where emp_no = #{empNo}	
	</select>
	
	<insert id="insertNotification" statementType="PREPARED" parameterType="map">
		insert notification(note_no, emp_no, redirect_path, message, note_date)
	</insert>
	
	

</mapper>
