<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.groupware.persistent.mapper.approval.NotificationMapper">

	<insert id="insertNotificationProcess" parameterType="map" statementType="PREPARED">
		insert into notification(note_no, emp_no, redirect_path, message)
		values (notification_seq.nextval, (select emp_no
		                                        from approval
		                                        where appr_no = #{apprNo}), 'C-03-0' || 7,
		        (select '[' || department || ']' || duty || ' ' || emp_name 
		        from emp_view
		        where emp_no = #{empNo}) || 
		        <choose>
			        <when test="apprStatus ==1">
						' 님이 기안서를  결재하였습니다 '
			        </when>
			        <when test="apprStatus ==2">
			        	' 님이 기안서를  보류하였습니다 '
			        </when>
		        </choose>
		        )
	</insert>

	<insert id="insertNotificationEnd" parameterType="map" statementType="PREPARED">
		insert into notification(note_no, emp_no, redirect_path, message)
		values (notification_seq.nextval, (select emp_no
		                                        from approval
		                                        where appr_no = #{apprNo}), 'C-03-0' ||#{apprStatus},
		        (select '[' || department || ']' || duty || ' ' ||   emp_name || ' 님이 기안서를 '
		        from emp_view
		        where emp_no = #{empNo}) || 
		        <choose>
		        <when test="apprStatus ==1">
		        	'결재 하였습니다'
		        </when>
		        <when test="apprStatus ==3">
		        	'반려 하였습니다'
		        </when>
		        </choose>
		         )
	</insert>



	<resultMap id="selectNotificationListMap" type="NotificationVO">
		<id property="noteNo" column="note_no" />
		<result property="noteDate" column="note_date" />
		<result property="redirectPath" column="rd_path" />
		<result property="message" column="message" />
		<association property="employee" column="emp_no" javaType="EmployeeVO">
			<id property="empNo" column="emp_no" />
			<result property="empName" column="emp_name" />
			<collection property="codes" ofType="codeVO">
				<result property="cNo" column="duty_no"/>
			</collection>
		</association>
	</resultMap>
	
	
	
	<select id="selectNotificationList" parameterType="map" resultMap="selectNotificationListMap" statementType="PREPARED" >
		select * 
    	from (select rownum rn , t3.*
            from (select t1.note_no, t1.note_date, substr(t1.redirect_path,-1) as rd_path, t1.message, t1.emp_no, t2.emp_name, t2.duty_no
                                from notification t1, emp_view t2
                                where t1.emp_no = t2.emp_no and t1.emp_no = #{empNo}
                                order by t1.note_date desc) t3 )

            <if test ="startRow != null || endRow !=null">
            where rn between #{startRow} and #{endRow}
            </if>                    
                              
            
	</select>
	
		
	<delete id="deleteNotification" parameterType="map" >
		delete from notification
		<choose>
			<when test="noteNo != null">
				where note_no = #{noteNo}
			</when>
			<otherwise>
				where emp_no = #{empNo}
			</otherwise>
		</choose>
	</delete>
	
	<select id="selectNotificationCount" statementType="PREPARED" parameterType="String" resultType="int">
		select count(note_no)
		from notification
		where emp_no = #{empNo}	
	</select>
	

</mapper>
