<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bit.groupware.persistent.mapper.approval.ReceiverLineMapper">
	
	
	<resultMap type="ReceiverLineVO" id="selectReceiverLineListResultMap">
		<id column="line_no" property="lineNo" />
		<result column="line_order" property="lineOrder" />
		<result column="appr_type" property="apprType" />
		<association property="lineEmployee" column="line_emp_no" javaType="EmployeeVO">
			<id column="line_emp_no" property="empNo" />
			<result column="emp_name" property="empName"/>
			<result column="department" property="department"/>
			<result column="duty" property="duty"/>
		</association>
	</resultMap>

	<select id="selectReceiverLineList" parameterType="int"
	statementType="PREPARED" resultMap="selectReceiverLineListResultMap">
		select t1.line_no, t1.line_emp_no, t1.line_order, t1.appr_type,
		t2.emp_name, t2.department, t2.duty
		from receiver_line t1, emp_view t2
		where t1.LINE_EMP_NO= t2.emp_no
		and t1.receiver_no = #{receiverNo}
		order by appr_type asc, line_order asc 
		<!-- 정렬순서 (결재-참조) -->
</select>

	<insert id="insertReceiverLineList" parameterType="receiverLineVO"
		statementType="PREPARED">

		<foreach item="receiverLine" collection="approvalRecords" open="inset all"
			close="select * from dual">
			into receiver_line(line_no, receiver_no, line_emp_no, line_order,
			appr_type)
			values(#{lineNo}, #{receiver.receiverNo}, #{lineEmployee.empNo}, #{lineOrder},
			#{apprType})

		</foreach>
	</insert>


	<delete id="deleteReceiverLines" parameterType="int"
		statementType="PREPARED">

		delete from receiver_line
		where receiver_no = #{recieverNo}

	</delete>
		 
</mapper>