<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bit.groupware.persistent.mapper.approval.ReceiverLineMapper">
	
	
	<resultMap type="ReceiverLineVO" id="selectReceiverLineListResultMap">
		<id column="line_no" property="lineNo" />
		<result column="line_order" property="lineOrder" />
		<result column="appr_type" property="apprType" />
		<association property="lineEmployee" column="line_emp_no" javaType="EmployeeVO">
			<id column="line_emp_no" property="empNo" />
			<result column="emp_name" property="empName"/>
			<result column="department" property="department"/>
			<result column="duty" property="duty"/>
		</association>
	</resultMap>

	<select id="selectReceiverLineList" parameterType="int"
	statementType="PREPARED" resultMap="selectReceiverLineListResultMap">
		select t1.line_no, t1.line_emp_no, t1.line_order, t1.appr_type,
		t2.emp_name, t2.department, t2.duty
		from receiver_line t1, emp_view t2
		where t1.LINE_EMP_NO= t2.emp_no
		and t1.receiver_no = #{receiverNo}
		order by appr_type asc, line_order asc 
		<!-- 정렬순서 (결재-참조) -->
	</select>

	<!-- <resultMap id="selectApprovalLineRM"  type="ReceiverLineVO">
		<id property="lineNo" column="line_no" />
		<result property="lineOrder" column="line_order" />	
		<result property="apprType" column="appr_type" />
		
		<association property="lineEmployee" column="linemp_no" javaType="EmployeeVO">
				<id property="empNo" column="linemp_no" />
				<result property="empName" column="linemp_name" />	
				<result property="duty" column="linemp_duty" />
				<result property="systemSignName" column="SYSTEMSIGNNAME" />
				<result property="signName" column="linemp_sign" />	
				<result property="department" column="department" />	
					
		</association>	
		
		<collection  property="approvalRecords" javaType="list" column="record_no" ofType="ApprovalRecordVO">	
				<id column="record_no" property="recordNo" />
				<result column="confirm_date" property="confirmDate"/>
				<result column="appr_status" property="apprStatus"/>
				
				<association property="approvalComment" column="comment_no" javaType="ApprovalCommentVO">
					<id property="commentNo" column="comment_no" />
					<result property="commentContent" column="comment_content" />	
					<result property="commentDate" column="comment_date" />	
				</association>
		</collection>
		
	</resultMap>
	
	<select id="selectApprovalLine" parameterType="int" resultMap="selectApprovalLineRM" statementType="PREPARED">  
		select linemp.empname as linemp_name, linemp.duty as linemp_duty, linemp.signname as linemp_sign, linemp.empno as linemp_no, 
		line.line_no, line.line_order, line.appr_type, linemp.SYSTEMSIGNNAME ,linemp.department,
		rec.record_no, to_char(rec.confirm_date,'YY/MM/DD') as confirm_date, rec.appr_status, 
		comm.comment_no, comm.comment_content, comm.comment_date
		from approval_comment comm, approval_record rec, receiver_line line, emplist_view linemp
		where rec.record_no=comm.record_no(+)
		and rec.line_no(+)=line.line_no
		and line.line_emp_no=linemp.empNo
		and line.receiver_no=(select distinct t1.receiver_no 
		                      from receiver_line t1
		                      where t1.line_no in(select line_no
		                                        from approval_record
		                                        where appr_no=#{apprNo} ))
		order by line.line_order asc nulls last
	</select> -->

	<resultMap id="selectReceiverLineByApprNoResultMap"  type="ReceiverLineVO">
		<id property="lineNo" column="line_no" />
		<result property="lineOrder" column="line_order" />	
		<result property="apprType" column="appr_type" />
		
		<association property="lineEmployee" column="emp_no" javaType="EmployeeVO">
				<id property="empNo" column="emp_no" />
				<result property="empName" column="emp_name" />	
				<result property="duty" column="duty" />
				<result property="department" column="department" />	
		</association>	
	</resultMap>


	<select id="selectReceiverLineByApprNo" parameterType="int" 
	statementType="PREPARED" resultMap="selectReceiverLineByApprNoResultMap">  
		select t1.line_no, t1.line_order, t1.appr_type, t2.emp_no, t2.emp_name, 
				case when t2.emp_history = 0 then t2.duty
			         when (select count(t4.no)
			               from code_history t4
			               where t3.appr_date between t4.start_date and t4.end_date) = 0 then t2.duty
			         else (select c_name
			               from code_history t3, code t4
			               where t2.emp_no = t3.emp_no
			               and t3.duty_no = t4.c_no)
			   end as duty ,
			   case when t2.emp_history = 0 then t2.department
			        when (select count(t4.no)
			              from code_history t4
			              where t3.appr_date between t4.start_date and t4.end_date) = 0 then t2.department
			        else (select c_name
			              from code_history t3, code t4
			              where t2.emp_no = t3.emp_no
			              and t3.dept_no = t4.c_no)
			   end as department
		from receiver_line t1, emp_view t2, (select appr_date
                                             from approval
                                             where appr_no = #{apprNo}) t3
        where t1.line_emp_no =  t2.emp_no
        and receiver_no = (select distinct t1.receiver_no 
		                   from receiver_line t1
		                   where t1.line_no in(select line_no
		                                       from approval_record
		                                       where appr_no=#{apprNo} ))
		order by t1.appr_type asc , line_order asc	                                       
	</select>

	<insert id="insertReceiverLineList" parameterType="ReceiverLineVO" statementType="PREPARED">

		<foreach item="line" collection="list" open="insert all" close="select * from dual">
			into receiver_line(receiver_no, line_emp_no, line_order, appr_type)
			values(#{line.receiver.receiverNo}, #{line.lineEmployee.empNo}, #{line.lineOrder}, #{line.apprType})

		</foreach>
	</insert>


	<delete id="deleteReceiverLines" parameterType="int"
		statementType="PREPARED">

		delete from receiver_line
		where receiver_no = #{recieverNo}

	</delete>
		 
</mapper>