<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bit.groupware.persistent.mapper.approval.ReceiverMapper">


  <insert id="insertReceiver" parameterType="ReceiverVO" statementType="PREPARED">
          <selectKey keyProperty="receiverNo" resultType="int" statementType="STATEMENT" order="BEFORE">
               select receiver_seq.nextVal from dual
          </selectKey>
          insert into receiver(receiver_no, emp_no, receiver_name)
          values(#{receiverNo}, #{employee.empNo}, #{receiverName})
      </insert>


      <select id="selectReceiverList" statementType="PREPARED" parameterType="String" resultType="ReceiverVO" >
          select receiver_no as receiverNo, receiver_name as receiverName
          from receiver
          where isdelete = 0
          and emp_no = #{empNo}
          order by receiver_name asc
      </select>

      <update id="updateReceiver"  parameterType="ReceiverVO" statementType="PREPARED">
          update receiver
          set receiver_name = #{receiverName}
          where receiver_no = #{receiverNo}
      </update>

      <update id="deleteReceiver"  parameterType="int" statementType="PREPARED">
          update receiver
          set isdelete = 1
          where receiver_no = #{receiverNo}
      </update>
      
     
</mapper>

























