<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.groupware.persistent.mapper.approval.TemplateMapper">

	<insert id="insertTemplate" parameterType="TemplateVO" statementType="PREPARED">
		<selectKey keyProperty="tmpNo" resultType="int" statementType="STATEMENT" order="BEFORE">
			select template_seq.nextval from dual
		</selectKey>
		insert into template(tmp_no,tmp_name,category_no,tmp_content,tmp_summary,tmp_using)
		values(#{tmpNo},#{tmpName},#{templateCategory.categoryNo},#{tmpContent},#{tmpSummary},#{tmpUsing})
	</insert>
	
	
	<resultMap id="selectTemplateResultMap" type="TemplateVO">
		<id property="tmpNo" column="tmp_no" />
		<result property="tmpName" column="tmp_name" />
		<result property="tmpContent" column="tmp_content" />
		<result property="tmpSummary" column="tmp_summary" />
		<result property="tmpDate" column="tmp_date" />
		<result property="tmpUsing" column="tmp_using" />
		
		<association property="templateCategory" column="category_no" javaType="TemplateCategoryVO">
			<id property="categoryNo" column="category_no" />
			<result property="categoryName" column="category_name" />
		</association>
		<collection property="templateBookmarks" javaType="list" column="bookmark_no" ofType="TemplateBookmarkVO">
			<id property="bookmarkNo" column="bookmark_no"/>
		</collection>
	</resultMap>
	<select statementType="PREPARED" parameterType="map" id="selectTemplateList" resultMap="selectTemplateResultMap" > 
		
		select *
		from (select temp.*, rownum rn
      		from(select t1.tmp_no, t1.tmp_name, t1.tmp_summary, to_char(t1.tmp_date,'yyyy/mm/dd') as tmp_date,
      					t1.tmp_using, t1.category_no, t2.CATEGORY_NAME
      					<if test="empNo != null">
	      					, (select bookmark_no
	                         from template_bookmark t3
	                         where t1.tmp_no = t3.tmp_no
	                         and emp_no = #{empNo} ) as bookmark_no
                        </if>
                        
                 from template t1, template_category t2
                 where t1.category_no = t2.category_no
                 <if test="keyfield == 'categoryNo' and keyword != null">
					and t1.category_no = #{keyword}
				</if>
				<if test="keyfield == 'categoryName' and keyword != null">
					and t2.category_name like '%'|| #{keyword} ||'%'
				</if>
				<if test="keyfield == 'tmpName' and keyword != null">
					and t1.tmp_name like '%'|| #{keyword} ||'%'
				</if>
				<if test="empNo != null">
					and t1.tmp_using = 1
					order by t1.tmp_name asc) temp
				</if>
				
				<if test="empNo == null">
					order by t1.tmp_No desc) temp
				</if>
					
				
                  
                 
			<if test="keyfield == 'bookmark' ">
				where bookmark_no is not null
			</if>
           	)
       where rn <![CDATA[>=]]> #{startRow} 
       and rn <![CDATA[<=]]> #{endRow}
      <!--  and rn &lt; #{endRow} 작동함 ㅋㅋ -->
	</select>
	
	
	
	<select id="selectTemplate" statementType="PREPARED" parameterType="int" resultMap="selectTemplateResultMap">
		 select t.tmp_no, t.tmp_name, t.tmp_summary,
		 		to_char(t.tmp_date,'yyyy/mm/dd') as tmp_date, 
		 		t.tmp_content , t.tmp_using,
		 		t.category_no , tc.category_name
		 from template t, template_category tc
		 where t.category_no = tc.category_no
		 and t.tmp_no=#{tmpNo}
	</select>

	<select id="selectTemplateCount" statementType="PREPARED" parameterType="map" resultType="int">
		select count(t1.tmp_no)
		from template t1, template_category t2, template_bookmark t3
		where t1.category_no = t2.category_no
		and t1.tmp_no = t3.tmp_no(+)
			<if test="keyfield == 'categoryNo' and keyword != null">
				and t1.category_no = #{keyword}
			</if>
			<if test="keyfield == 'categoryName' and keyword != null">
				and t2.category_name like '%'|| #{keyword} ||'%'
			</if>
			<if test="keyfield == 'tmpName' and keyword != null">
				and t1.tmp_name like '%'|| #{keyword} ||'%'
			</if>
			<if test="keyfield == 'bookmark' ">
				and bookmark_no is not null
			</if>
			<if test="empNo != null">
				and t1.tmp_using = 1
			</if>
	</select>
	
	<select id="selectTemplateNameList" statementType="STATEMENT" resultType='TemplateVO'>
		 select tmp_name as tmpName, tmp_no as tmpNo
		 from template
		 where tmp_using = 1
		 order by tmpName asc
	</select>	
		
	<delete id="deleteTemplate" parameterType="int" statementType="PREPARED">
		delete from template
		where tmp_no in
		<foreach item="tmpNo" collection="tmpNos" separator="," open="(" close=")">
			#{tmpNo}
		</foreach>
	</delete>	
	
	
	

</mapper>
