<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.groupware.persistent.mapper.authority.NoticeMapper">

   <insert id="insertNotice" statementType="PREPARED" parameterType="NoticeVO">
      <selectKey keyProperty="noticeNo" resultType="int" order="BEFORE" statementType="STATEMENT">
           select notice_no_seq.nextval from dual;
      </selectKey>
      insert into board(notice_no, notice_title, hitcount, notice_date, notice_contents)
      values(#{noticeNo}, #{noticleTitle}, 0, sysdate, #{noticeContents})
   </insert>   
   
   <select id="selectNoticeList" statementType="STATEMENT" resultType="NoticeVO">
      select notice_no, notice_title, hitcount, notice_date, notice_contents
       from notice 
       order by notice_no asc
   </select>
   
   <select id="selectNotice" statementType="PREPARED" resultType="NoticeVO" parameterType="int">
      select n1.notice_no, n1.notice_title, n1.hitcount, n1.notice_date, n1.notice_contents, n2.noticefile_no, 
       n2.noticefile_original_file_name, n2.noticefile_system_file_name, n2.noticefile_url , n2.notice_no
       from notice n1 , noticefile n2
       where n1.notice_no = n2.notice_no(+)
        and n1.notice_no = 1;
   </select>
   
   <update id="updateNotice" statementType="PREPARED" parameterType="NoticeVO">
      update notice
      <trim prefix="set" suffixOverrides=",">
         <if test="noticleTitle">
            notice_title = #{noticleTitle}
         </if>
         <if test="noticeContents">
            notice_contents = #{noticeContents}
         </if>
      </trim>
   </update>
   
   <delete id="deleteNotice" statementType="PREPARED"  parameterType="int">
      delete from notice
      where notice_no = #{noticeNO}
   </delete>
   
      <select id="findNoticeList" parameterType="map" resultType="NoticeVO">
      select 
         notice_no as noticeNo, 
         notice_title as noticeTitle,
         hitcount as hitCount,
         to_char(notice_date, 'YYYY/MM/DD') as noticeDate,
         notice_contents as noticeContents 
      from notice
      <choose>
         <when test="keyfield == 'noticeTitle' and keyword != null">
            where notice_title like '%' || #{keyword} || '%'
         </when>
      </choose>
   </select>
   
   
</mapper>