<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bit.groupware.persistent.mapper.authority.NoticeFileMapper">
		
	<insert id="insertNoticeFile" parameterType="map" statementType="PREPARED">		
		<foreach item="noticeFile" collection="noticeFiles" open="insert all" close="select * from dual">
		 	into noticeFile ( ORIGINAL_FILE_NAME, SYSTEM_FILE_NAME, URL, NOTICE_NO )
   			values( #{noticeFile.originalFileName}, #{noticeFile.systemFileName}, 'C:\\io', #{noticeFile.noticeNo} )
		</foreach>	 	
	</insert>
	
	<delete id="deleteNoticeFile" parameterType="int" statementType="PREPARED">
		delete from noticeFile
		where no = #{no}
	</delete>
	
		
   <delete id="deleteNoticeFileList" parameterType="int" statementType="PREPARED">
		DELETE FROM noticeFile nf
 		WHERE nf.notice_no in  (
								        SELECT n.notice_no
								          FROM notice n
								         WHERE n.notice_no in
								         <foreach item="noticeNO" collection="list" separator="," open="(" close=")">
											#{noticeNO}
										  </foreach>
								        )
	</delete>
	
</mapper>