<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.groupware.persistent.mapper.authority.NoticeMapper">

   <insert id="insertNotice" statementType="PREPARED" parameterType="NoticeVO">
      <selectKey keyProperty="noticeNo" resultType="int" order="BEFORE" statementType="STATEMENT">
           select notice_no_seq.nextval from dual
      </selectKey>
      insert into notice(notice_no, notice_title, hitcount, notice_date, notice_contents)
      values(#{noticeNo}, #{noticeTitle}, 0, sysdate, #{noticeContents})
   </insert>   
   

	
   <select id="selectNoticeList" statementType="PREPARED" parameterType="map" resultType="NoticeVO">
  select NOTICE_NO as noticeNo, NOTICE_TITLE as noticeTitle, HITCOUNT as hitCount, NOTICE_DATE as noticeDate, NOTICE_CONTENTS as noticeContents	
	  from( select rownum as rn, notice1.*    									
  			  from (select *
                        from notice 		
                        <if test="keyfield == 'noticeTitle' and keyword != null">
                        where NOTICE_TITLE like '%' || #{keyword} || '%'			
                        </if>
                        order by notice_no desc )notice1
                        
                <if test="keyfield == 'notice' ">
				where NOTICE_NO is not null
				</if>
                  ) notice2					
	   where rn <![CDATA[>=]]> #{startRow} and rn <![CDATA[<=]]> #{endRow}
   </select>
   
   	<resultMap id="selectNoticeResultMap" type="NoticeVO">
		<id column="notice_no"						 property="noticeNo" />
		<result column="notice_title" 				 property="noticeTitle" />
		<result column="hitcount" 	 				 property="hitCount" />
		<result column="notice_date" 	 			 property="noticeDate" />
		<result column="notice_contents" 			 property="noticeContents" />
	
		<collection property="files" javaType="list" ofType="NoticeFileVO">
			<id column="no" 								property="no"/>
			<result column="original_file_name" 		property="originalFileName" />
			<result column="system_file_name" 		property="systemFileName" />
		</collection>
	</resultMap> 
	 
   <select id="selectNotice" resultMap="selectNoticeResultMap" statementType="PREPARED" parameterType="int">
      select n1.notice_no, n1.notice_title, n1.hitcount, n1.notice_date, n1.notice_contents, 
      n2.no, n2.original_file_name, n2.system_file_name, n2.url , n2.notice_no
       from notice n1 , noticefile n2
       where n1.notice_no = n2.notice_no(+)
        and n1.notice_no = #{noticeNo}
   </select>
   
   <update id="updateNotice" statementType="PREPARED" parameterType="NoticeVO">
      update notice
      <trim prefix="set" prefixOverrides=",">
			<if test="noticeTitle != null">
				, notice_title = #{noticeTitle}
			</if>
			<if test="noticeContents != null">
				,notice_contents = #{noticeContents}
			</if>
		</trim>	
      where notice_no = #{noticeNo}
   </update>
   
   <delete id="deleteNotice" parameterType="int" statementType="PREPARED">
		delete from notice
		where notice_no  in
		<foreach item="noticeNO" collection="list" separator="," open="(" close=")">
			#{noticeNO}
		</foreach>
	</delete>
   
   <select id="selectNoticeCount" statementType="PREPARED" parameterType="map" resultType="int">
		select count(*)
		from notice
		where notice_no is not null
			<if test="keyfield == 'noticeTitle' and keyword != null">
				and notice_title like '%'|| #{keyword} ||'%'
			</if>
	</select>
	
	 <update id="updateNoticeHitCount" statementType="PREPARED" parameterType="int">
      update notice
      set hitcount = hitCount+1
      where notice_no = #{noticeNo}
   </update>
</mapper>