<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bit.groupware.persistent.mapper.authority.PostMapper">

	<insert id="insertPost" parameterType="PostVO" statementType="PREPARED">
		<selectKey keyProperty="postNo" resultType="int" statementType="STATEMENT" order="BEFORE">
			select post_no_seq.nextval from dual		
		</selectKey>

		insert into post(post_no, post_title, writer, post_date, post_content, document_no, c_no, board_no)
		values(#{postNo}, #{postTitle}, '홍길동', sysdate, #{postContent}, #{documentNo}, #{cNo}, 1)
	</insert>	
	
	
	<select id="selectPostList" resultType="PostVO" statementType="PREPARED" parameterType="map">
		select post_no as postNo, post_title as postTitle, writer, to_char(post_date, 'YYYY-MM-DD') as postDate, d_name as documentNo, c_name as cNo  
	    from( select rownum as rn, post1.*    									
  			  from (select  p.post_no, p.post_title, p.writer, p.post_date, d.c_name as d_name, c.c_name, b.board_no
                    from post p, code c, code d, board b
                    where c.c_no = p.c_no and d.c_no = p.document_no and b.board_no = p.board_no and b.board_no= #{no}
					
                    <if test="keyfield == 'documentNo' and keyword != null">                   
                       and d.c_name like '%' || #{keyword} || '%'
                    </if>
                    <if test="keyfield == 'postTitle' and keyword != null">                    
                       and p.post_title like '%' || #{keyword} || '%'
                    </if>
                    <if test="keyfield == 'cNo' and keyword != null">                   
                       and c.c_name like '%' || #{keyword} || '%'
                    </if>
                    <if test="keyfield == 'writer' and keyword != null">                    
                       and p.writer like '%' || #{keyword} || '%'
                    </if>
                    order by post_no desc )post1 
              <if test="keyfield == 'post' ">
              where post_no is not null
              </if>
               ) post2		
        where rn <![CDATA[>=]]> #{startRow} and rn <![CDATA[<=]]> #{endRow}	
	</select>	
	
	<resultMap id="selectPostResultMap" type="PostVO">
		<id column="post_no"						 property="postNo" />
		<result column="post_title" 				 property="postTitle" />
		<result column="writer" 	 				 property="writer" />
		<result column="post_date" 	 			 	 property="postDate" />
		<result column="post_content" 			 	 property="postContent" />
		<result column="document_no"   		 	 	 property="documentNo" />
		<result column="c_no" 					 	 property="cNo" />
		
		<!--  1:N 관계 -->
		<collection property="postFiles" javaType="list" ofType="PostFileVO">
			<id column="no" 							property="no"/>
			<result column="system_file_name" 			property="systemFileName" />
			<result column="original_file_name" 		property="originalFileName" />
		</collection>
		
		<!--  1:N 관계 -->
		<collection property="cmts" javaType="list" ofType="CmtVO">
			<id column="cmt_no" 					property="cmtNo"/>
			<result column="cmt_content" 			property="cmtContent" />
			<result column="cmt_writer" 			property="cmtWriter" />
			<result column="cmt_date" 				property="cmtDate" />
		</collection>
	</resultMap> 
	 
	 
	 
	<select id="selectPost" resultMap="selectPostResultMap" statementType="PREPARED" parameterType="int">
		 select p1.post_no, p1.post_title, p1.writer, p1.post_date, p1.post_content, c.c_name as c_no, d.c_name as document_no, 
          		p2.no, p2.original_file_name, p2.system_file_name, cm.cmt_no, cm.cmt_content, cm.cmt_writer, cm.cmt_date 
		 from post p1 , postfile p2, code c, code d, cmt cm
		 where p1.post_no = p2.post_no(+) and p1.c_no = c.c_no and p1.document_no = d.c_no 
                  and p1.post_no = cm.post_no(+) and p1.post_no = #{postNo} 		
	</select> 
	
	<update id="updatePost" parameterType="PostVO" statementType="PREPARED">
		update post
		<trim prefix="set" prefixOverrides=",">
			<if test="postTitle != null">
				, post_title = #{postTitle}
			</if>
			<if test="writer != null">
				, writer = #{writer}
			</if>
			<if test="postDate != null">
				, post_date = sysdate
			</if>
			<if test="postContent != null">
				, post_content = #{postContent}	
			</if>
			<if test="documentNo != null">
				, document_no = #{documentNo}
			</if>			
			<if test="cNo != null">
				, c_no = #{cNo}
			</if>		
		</trim>	
		where post_no = #{postNo}
	</update>
	
	<delete id="deletePost" parameterType="int" statementType="PREPARED">
		delete from post
    	where post_no = #{postNo}
	</delete>
	
	   
	
	<select id="selectPostCount" statementType="PREPARED" parameterType="map" resultType="int">
		select count(*)
		from post p, code c, code d
		where d.c_no = p.document_no and c.c_no = p.c_no and p.post_no is not null 
			<if test="keyfield == 'documentNo' and keyword != null">
				and d.c_name like '%'|| #{keyword} ||'%'
			</if>
			<if test="keyfield == 'postTitle' and keyword != null">
				and post_title like '%'|| #{keyword} ||'%'
			</if>
			<if test="keyfield == 'cNo' and keyword != null">
				and c.c_name like '%'|| #{keyword} ||'%'
			</if>
			<if test="keyfield == 'writer' and keyword != null">
				and writer like '%'|| #{keyword} ||'%'
			</if>
    </select>

</mapper>


























