<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases> 
		<package name="com.bit.groupware.domain" />
	</typeAliases>
	<mappers>
		<!-- Approval -->
	 <mapper resource="com/bit/groupware/persistent/mapper/approval/TemplateMapper.xml"/> 
		<mapper resource="com/bit/groupware/persistent/mapper/approval/TemplateCategoryMapper.xml"/> 
		<mapper resource="com/bit/groupware/persistent/mapper/approval/TemplateBookmarkMapper.xml"/> 
		<mapper resource="com/bit/groupware/persistent/mapper/approval/ApprovalMapper.xml"/> 
		<mapper resource="com/bit/groupware/persistent/mapper/approval/ApprovalFileMapper.xml"/> 
		<mapper resource="com/bit/groupware/persistent/mapper/approval/ApprovalCommentMapper.xml"/>
		<mapper resource="com/bit/groupware/persistent/mapper/approval/ApprovalRecordMapper.xml"/> 
		<mapper resource="com/bit/groupware/persistent/mapper/approval/ReceiverMapper.xml"/> 
		<mapper resource="com/bit/groupware/persistent/mapper/approval/ReceiverLineMapper.xml"/>  

		<!-- Authority -->
		<mapper resource="com/bit/groupware/persistent/mapper/authority/RoleMapper.xml"/> 
		<mapper resource="com/bit/groupware/persistent/mapper/authority/AuthorityMapper.xml"/> 
		<mapper resource="com/bit/groupware/persistent/mapper/authority/PostMapper.xml"/> 
		<mapper resource="com/bit/groupware/persistent/mapper/authority/PostFileMapper.xml"/> 
		<mapper resource="com/bit/groupware/persistent/mapper/authority/DocumentMapper.xml"/> 
		<mapper resource="com/bit/groupware/persistent/mapper/authority/NoticeMapper.xml"/>
		<mapper resource="com/bit/groupware/persistent/mapper/authority/NoticeFileMapper.xml"/> 
		<mapper resource="com/bit/groupware/persistent/mapper/authority/BoardMapper.xml"/>
		
		<!-- Employee -->
		<mapper resource="com/bit/groupware/persistent/mapper/employee/EmployeeMapper.xml"/>
		<mapper resource="com/bit/groupware/persistent/mapper/employee/CodeMapper.xml"/>
		<mapper resource="com/bit/groupware/persistent/mapper/employee/EmployeeFancyTreeMapper.xml"/>
		<mapper resource="com/bit/groupware/persistent/mapper/employee/DeputyMapper.xml"/>
		<mapper resource="com/bit/groupware/persistent/mapper/employee/PhotoMapper.xml"/>
		<mapper resource="com/bit/groupware/persistent/mapper/employee/PlanMapper.xml"/>
		<mapper resource="com/bit/groupware/persistent/mapper/employee/PlanFileMapper.xml"/>
		<mapper resource="com/bit/groupware/persistent/mapper/employee/MessageMapper.xml"/>
		<mapper resource="com/bit/groupware/persistent/mapper/employee/NotificationMapper.xml"/>
		<mapper resource="com/bit/groupware/persistent/mapper/employee/DelegationMapper.xml"/>
		<mapper resource="com/bit/groupware/persistent/mapper/approval/ApprovalRecordMapper.xml"/> 
	</mappers>

</configuration>