<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}][%-5level][%logger{36}] - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 로거 -->
	<logger name="com.bit.groupware.persistent.mapper" level="trace"  additivity="true" />
	
	<!-- 
	<logger name="com.bit.article.persistent.mapper.ArticleMapper" level="trace"  additivity="true" />
	<logger name="com.bit.article.persistent.mapper.ArticleFileMapper" level="trace"  additivity="true" />
	 -->
	 	
	<!-- 최상위 로거 -->
	<root level="error">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>

